---
---
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="{{site.baseurl}}css/main.css">
    
    </head>
    <body>
            <div class="container">
                    {% include mainmenu.html %}
                <div class="row"><div class="col-md-8">
        <form>
            <div class="mb-3">
                <label for="title">Title</label>
                <input id="title" name="title" class="form-control"/>
            </div>
            <div class="mb-3">
                <textarea id="content" name="content" class="form-control"></textarea>
            </div>
            <button id="createNew" type="submit">Save</button>
        </form>
        </div>
        </div>
        </div>

        {% include mainscripts.html asPost=true %}
    </body>
</html>